[submodule "backend"]
	path = backend
	url = https://github.com/CodeClarityCE/backend.git
[submodule "api"]
	path = api
	url = https://github.com/CodeClarityCE/api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/CodeClarityCE/frontend.git
[submodule "deployment"]
	path = deployment
	url = https://github.com/CodeClarityCE/deployment.git
