go 1.24.3

toolchain go1.24.1

use (
	backend/plugins/codeql
	backend/plugins/js-patching
	backend/plugins/js-sbom
	backend/plugins/license-finder
	backend/plugins/php-sbom
	backend/plugins/vuln-finder

	backend/services/dispatcher
	backend/services/downloader
	backend/services/knowledge
	backend/services/notifier
	backend/services/packageFollower

	backend/utilities/amqp-helper
	backend/utilities/db-helper
	backend/utilities/node-semver
	backend/utilities/types
)
